#contact{
    background-color: #f0f4ec; 
    padding: 3rem;  
}


#contact h1{
    color: #6f3254;
    font-size: 3rem;
    margin: 1rem;
    margin-left: 0px;
}

.field{
    background-color: #f0f4ec;
}

form{
    margin: auto;
}

input[type=email]{
    height: 3rem;
    width: 40%;
}

input[type=text]{
    height: 7rem;
    width: 40%;
}

input{   
    font-size: 1rem;
    margin-bottom: 1rem;
    text-align: left;
    background-color: #fdfbf7;
    border-radius: 5px;
    border: 1px solid #a17e8f;
    color: #a17e8f;
}

input[type=submit]{
    border-radius: 5px;
    padding-top: 15px;
    padding-right: 30px;
    padding-bottom: 15px;
    padding-left: 30px;
    background-color: #c96457;
    cursor:pointer;
	color:#ffffff;
    text-decoration:none;
    border-color: none;
}

#contact h2{
    display: inline;
    color: #6f3254;
}

#contact p{
    font-size: 1.2rem;
    word-spacing: 10px;
    color: #85536e;
}

